.img-center{
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.kuning{
    background-color:bisque
}
.abuabu{
    background-color: gray;
}
.radius10{
    border-radius: 10px;
}
.txt-white{
    color: white;
}
p {
    hyphens: auto;
    
}
p.no-hyphen-numbers {
    hyphens: none;
}
.avoid-line-break {
    break-inside: avoid;
}
@media (max-width: 768px) {
    .teks {
      width: 100%; /* Mengisi lebar elemen hingga 100% pada layar ponsel */
    }
  }
  .max-30px {
    max-width: 300px;
    height: auto;
}
